@import url(./font/inter.css);
  
:root {
    --color1: #1C1C1C; /* Background color (Dark Charcoal) */
    --color2: #303030; /* Navigation bar background (Slate Gray) */
    --color3: #FF6F61; /* Tabs/Buttons background (Neon Coral) */
    --color4: #F4F4F4; /* Text fill color (Light Off-White) */
    --highlight-color: #FF8C00; /* Neon Orange (used for hover states) */
  }

  #intro_img {
    height: 225px;
    width: 225px;
  }

  .introduction {
    padding: 120px 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    max-width: 100%;
    box-sizing: border-box;
  }

  .introduction p {
    padding: 0px 50px 40px 50px;
  }
  
  .introduction a {
    font-weight: auto;
    margin: 0px 5px;
    padding: 10px 20px;
    background-color: transparent;
    color: var(--color4);
    border: 1px solid var(--color3);
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease;
  }
  
  .introduction a:hover {
    background-color: var(--highlight-color);
    color: var(--color1);
    border-color: var(--highlight-color);
  }
  
  .projects-preview_title h2 {
    padding: 10px 50px 50px 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  
  .projects-preview {
    padding: 0px 50px 50px 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-top: 40px;
    width: 100%;
    box-sizing: border-box;
  }
  
  .project-item {
    width: 250px;
    text-align: center;
  }
  
  .project-item img {
    width: 200px;
    height: 142.22px;
    border-radius: 10px;
  }
  
  .view-project {
    display: block;
    margin-top: 10px;
    color: var(--color3);
    text-decoration: none;
  }
  
  .view-project:hover {
    color: var(--highlight-color);
  }