@import url(./font/inter.css);
  
:root {
    --color1: #1C1C1C; /* Background color (Dark Charcoal) */
    --color2: #303030; /* Navigation bar background (Slate Gray) */
    --color3: #FF6F61; /* Tabs/Buttons background (Neon Coral) */
    --color4: #F4F4F4; /* Text fill color (Light Off-White) */
    --highlight-color: #FF8C00; /* Neon Orange (used for hover states) */
  }

.projects-preview_title h2 {
    padding: 100px 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-size: 34px;
  }
  
  .projects-preview {
    padding: 0px 50px 150px 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-top: 40px;
    width: 100%;
    box-sizing: border-box;
  }
  
  .project-item {
    width: 250px;
    text-align: center;
  }
  
  .project-item img {
    width: 256px;
    height: 144px;
    border-radius: 10px;
  }
  
  .view-project {
    display: block;
    margin-top: 10px;
    color: var(--color3);
    text-decoration: none;
  }
  
  .view-project:hover {
    color: var(--highlight-color);
  }